@mixin apply-where-selector($element) {
    :where(#{$element}:not(.sb-anchor, .sb-unstyled, .sb-unstyled #{$element})) {
        @content;
    }
}

$class: 'light-theme' !default;
$font-color: #000;

body.light-theme {
  @include apply-where-selector('p') { 
      color: $font-color;
  }
  
  @include apply-where-selector('h1') { 
      color: $font-color;
  }
  
  @include apply-where-selector('h2') { 
      color: $font-color;
  }
  
  thead.docblock-argstable-head th span {
    color: $font-color;
  }

  .MuiBox-root {
    width: auto;
  }

  .innerZoomElementWrapper {
    width: 1000px;
    margin: 0 auto;

    > * {
      width: 100%;
    }

    > header {
      width: 1000px;
      margin: 0 auto;
    }
  }
  
  #storybook-root {
    box-sizing: border-box;
    margin: auto;
    padding: 1rem;
    max-height: 100%;
    width: 100% !important;
  }

  .need-help {
    background: #f0f0f0;
    color: $font-color;
  }
}